@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f8f9fa;
    /* ... */
  }
}

.accordion-icon {
  transition: transform 0.3s ease;
}

.accordion-icon.active {
  transform: rotate(-180deg);
}

.accordion-content {
  display: none;
}

.accordion-content.active {
  display: block;
}
